* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
  
a {
    color: #000;
}

h1 {
    color: rgb(189, 20, 20);
    font-family: Apple chancery;
}

h3 {
    color: rgb(189, 20, 20);
    font-size: 55px;
    text-align: left;
    position: absolute;
    bottom: 0;
    margin-left: 115px;
}

  
/***** header *****/
  .intro {
    background-image: url("images/doors-1767559_1280.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%;
    position: absolute;
    width: 100%;
} 

.intro h1 {
    font-size: 120px;
    text-align: left;
    position: absolute; 
    bottom: 0; 
    padding-left: 65px;
    padding-bottom: 50px;
    width: 100%; 
}
  
  .topnav {
    background-color: #BFAFB2;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    opacity: .8;
    /*padding: 20px;*/
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .topnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .topnav li a {
    color: white;
    display: block;
    font-size: 20px;
    padding: 20px 30px;
    border-right: 1px solid #1B1B1B;
    text-decoration: none;
  }
  
  .active {
    color: #ED0A3F !important;
    text-decoration: underline;
}

  .topnav li a:hover,
  .topnav .menu-btn:hover {
    color: teal;
  }
  
  .topnav .logo {
    display: none;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .topnav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .topnav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .topnav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .topnav .menu-icon .navicon:before,
  .topnav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .topnav .menu-icon .navicon:before {
    top: 5px;
  }
  
  .topnav .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .topnav .menu-btn {
    display: none;
  }
  
  .topnav .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
  .topnav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .topnav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .topnav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .topnav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .topnav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  

/***** about *****/
.title {
    background-color: rgba(0, 0, 0, 0.856);
    color: rgb(189, 20, 20);
    font-family: Apple chancery;
    font-size: 50px;
    height: 300px;
    padding: 15px 0 0 100px;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .topnav.logo {
        display: inline;
    }
    .topnav li {
      float: left;
    }
    .topnav li a {
      padding: 10px 30px;
    }
    .topnav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .topnav .menu-icon {
      display: none;
    }

    .intro {
        height: 100%;
        width: 100%;
    } 

    .intro h1 {
        font-size: auto;
        text-align: left;
        position: absolute; 
        bottom: 0; 
        width: 100%; 
    }
  }