.title {
    color: rgb(189, 20, 20);
    font-family: Apple chancery;
    font-size: 50px;
    padding-left: 100px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    height: 300px;
}

.title ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    float: right;
    background-color: rgba(0, 0, 0, 0.856);
    margin-right: 50px;
    list-style-type: none;
    flex-direction: row;  
}
 
p {
    font-size: 40px;
    text-align: center; 
    margin: 40px 35px 35px 20px;
}


